*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}

.container{
    background-color: yellow;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 45vh;
    max-width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form input , select , button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    
}

form input{
    border: 1px solid grey;
    margin-bottom: 1rem;
    height: 1rem;
    padding: left 0.5em;  
    font-size: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.dropdown i{
    font-size: 1.5rem;
    width: auto;
}
.selectcontainer img {
   max-width: 2rem;
}
.selectcontainer {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
}
.msg{
    color: red;
    margin: 2rem 0 1rem 0;
}

form button{
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    height: 2rem;
    width: 100%;
}